body {
  background-color: rgb(25, 25, 25);
  font-family: Arial;
  color: white;
}

.title {
  font-size: 30px;
  font-weight: bold;
}

.move-icon {
  height: 50px;
}

.move-button {
  background-color: transparent;
  border: 2.4px solid white;
  width: 120px;
  height: 120px;
  border-radius: 60px;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.15s;
  transition: opacity 0.15s;
}

.move-button:hover {
  background-color: white;
}

.move-button:active {
  opacity: 0.7;
}

.result {
  font-size: 25px;
  font-weight: bold;
  margin-top: 50px;
}

.score {
  margin-top: 60px;
}

.reset-score-button {
  background-color: white;
  font-size: 15px;
  padding: 8px 15px;
  cursor: pointer;
  transition: opacity 0.15s;
}

.reset-score-button:hover {
  opacity: 0.9;
}

.reset-score-button:active {
  opacity: 0.7;
}
